{% extends 'new/baseHTML.html' %}
{% load static %}

{% block header %}
<title>Бидний үзэл баримтлал</title>
{% endblock %}
{% block menuEnd %}
<div class="header-content fullheight">
	<div class="page-header text-center">
		<h2>Бидний эрхэм зорилго</h2>
	</div>
</div>
{% endblock %}
{% block mainContent %}


<main>
    <div class="widget-19 pushtop-130">
        <p class="text-center pretitle">Манай байгууллагын</p>
        <h3 class="text-center">Ажилтнуудын ажилдаа баримтлах зарчим</h3>
        <div class="container">
            <div class="row">
                {% for sophy in zarchim %}
                <div class="col-md-4 col-sm-6 pushtop-70">
                    <section>
                        <img src="/media/{{ sophy.image }}" alt="widget image"> <!--76x76-->
                        <h6>{{ sophy.title }}</h6>
                        <p>{{ sophy.description|safe }}</p>
                    </section>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

	<div class="widget-18 pushtop-130">
		<div class="bg-container">
			<div class="container text-center">	
				<p class="pretitle">""</p>
				<h3>Хэтийн зорилго</h3>
				<p>	
                    “Гарааны бизнесийг хамтран бойжуулах замаар органик өсөлттэй, хэвийн үйл ажиллагаатай бизнесийн систем болгож үнэ цэнийг бүтээнэ.”
				</p>
			</div>
		</div>
		<div class="container pulled-elements">
			<div class="row">
				{% for detail in zorilgo %}
				<div class="col-md-6"> 
					<section>
						<img src="/media/{{ detail.image }}" alt="widget img"> <!--94x94-->
						<h4>{{ detail.title }}</h4>
						<p>
							{{ detail.description|safe }}
						</p>
					</section>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</main>
{% endblock %}