{% extends 'new/baseHTML.html' %}
{% load static %}

{% block header %}
<title>Баг хамт олон</title>
{% endblock %}
{% block menuEnd %}
<div class="header-content fullheight">
	<div class="page-header text-center">
		<h2>Манай хамт олон</h2>
		<p>Бид хамтран ажиллана.</p>
		<p>Бид бойжуулна.</p>
		<p>Бид хөрөнгө оруулна.</p>
	</div>
</div>
{% endblock %}
{% block mainContent %}


<main>
	<div class="widget-23 pushtop-100">
		<!-- <p class="pretitle text-center">Бид хэн бэ</p> -->
		<h3 class="text-center">Манай баг хамт олон</h3>

		<div class="container">
			<div class="team-widget-tabs clearfix text-center">
				<ul class="clearfix pushtop-30">
					<li><a data-filter=".default" href="#" class="active link-hover">ALL</a></li>
					<li><a data-filter=".team-mentors" href="#" class="link-hover">MENTORS</a></li>
					<li><a data-filter=".team-boards" href="#" class="link-hover">BOARDS</a></li>
				</ul>
			</div>
			<div id="team-widget-tab-content" class="row">
                {% for ot in members %}
				<div class="col-lg-3 col-md-6 default {% cycle 'team-mentors' 'team-boards' %}">
					<div class="team-member">
						<img src="/media/{{ ot.image }}" class="img-fluid" alt="avatar"> <!-- 270 x 270-->
						<a href="#" class="link-hover">{{ ot.name }}</a>
						<ul class="person-social pushtop-10">
							<li>
								<a href="{{ ot.facebook }}"><i class="fa fa-facebook-f"></i></a>
							</li>
                            <li>
                                <a href="{{ ot.twitter }}"><i class="fa fa-twitter"></i></a>
                            </li>
							<li>
								<a href="{{ ot.linkedin }}"><i class="fa fa-linkedin"></i></a>
							</li>
						</ul>
						<p>{{ ot.description|safe }}</p>
					</div>
				</div>
                {% endfor %}
			</div>
		</div>
	</div>
</main>
{% endblock %}






