{% extends 'new/baseHTML.html' %}
{% load static %}

{% block header %}
<title>Бидний тухай</title>
{% endblock %}
{% block menuEnd %}
<div class="header-content fullheight">
	<div class="page-header text-center">
		<h2>Бидний Тухай</h2>
		<p>{{ abouts.short_desc }}</p>
	</div>
</div>
{% endblock %}
{% block mainContent %}

<main>
	<div class="widget-2 text-left pushtop-180 drag-this-up drag-up">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h3>{{ abouts.title }}</h3>
					<p class="no-gutter-right">
						{{ abouts.description|safe }}
					</p>
					<a href="#" class="button-link-1 pushtop-30">LEARN MORE</a>
				</div>
				<div class="col-lg-6">
					<img src="/media/{{ abouts.image }}" alt="widget-image" class="pull-left"> <!-- 571x538 -->
				</div>
			</div>
		</div>
	</div>

	<div class="widget-13 pushtop-30">
		<div class="container">
			<div class="widget-6 light-background drag-this-up">
				<div class="container">
					<h3 class="text-center">Хамтрагч байгууллагууд</h3>
					<div class="partners clearfix">
							<a href="#" class="partner"><img src="/media/documents/2019/06/20/gund.png" alt="partner"></a> <!-- 148x70 -->
							<a href="#" class="partner"><img src="/media/documents/2019/06/20/tuss.png" alt="partner"></a> <!-- 148x70 -->
							<a href="#" class="partner"><img src="/media/documents/2019/06/20/nlife.png" alt="partner"></a> <!-- 148x70 -->
							<a href="#" class="partner"><img src="/media/documents/2019/06/20/reachpoint.png" alt="partner"></a> <!-- 148x70 -->
							<a href="#" class="partner"><img src="/media/documents/2019/06/20/stsfood.png" alt="partner"></a> <!-- 148x70 -->
							<a href="#" class="partner"><img src="/media/documents/2019/06/20/ucd.png" alt="partner"></a> <!-- 148x70 -->
							<a href="#" class="partner"><img src="/media/documents/2019/06/20/mihim.png" alt="partner"></a> <!-- 148x70 -->
							<a href="#" class="partner"><img src="/media/documents/2019/06/20/melearn_logo.png" alt="partner"></a> <!-- 148x70 -->
							<a href="#" class="partner"><img src="/media/documents/2019/06/20/zsds.png" alt="partner"></a> <!-- 148x70 -->
							<a href="#" class="partner"><img src="/media/documents/2019/06/20/nvc.png" alt="partner"></a> <!-- 148x70 -->
							<a href="#" class="partner"><img src="/media/documents/2019/06/20/chatbot_logo.png" alt="partner"></a> <!-- 148x70 -->
							<a href="#" class="partner"><img src="/media/documents/2019/06/20/mastersp_logo.png" alt="partner"></a> <!-- 148x70 -->
							<a href="#" class="partner"><img src="/media/documents/2019/06/20/gund_hc.png" alt="partner"></a> <!-- 148x70 -->
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{% endblock %}