<!DOCTYPE html>
<html lang="zxx">
{% include 'new/header.html' %}

<head>
    {% block header %}{% endblock %}
    {% block CSS %}{% endblock %}
</head>

<body>
    <header>
        {% block headerMenu %}{% endblock %}
        <!-- menuEnd required -->
        {% block menuEnd %}{% endblock %}
    </header>
    <!-- mainContent required -->
    {% block mainContent %}{% endblock %}
    {% include 'new/footer.html' %}
</body>

</html>