{% extends 'new/baseHTML.html' %}
{% load static %}
{% load socratus_tag %}

{% block header %}
<title>Biz-StepUp</title>
{% endblock %}
{% block menuEnd %}
<div class="header-content fullheight">
	<div class="page-header text-center">
		<h2>Biz-StepUp үйлчилгээ</h2>
		<!-- <p>Vulputate velit esse mugiat nuesent lupt te fegait nulla facilisi. </p> -->
	</div>
</div>
{% endblock %}
{% block mainContent %}
<main> 

	{% for bs in biz_contents %}
		{% if forloop.counter|alignment %}
			<div class="widget-2 text-right pushtop-180 drag-this-up pos-r">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<img src="/media/{{ bs.image }}" alt="widget-image" class="pull-right">
							<!-- 619x635-->
						</div>
						<div class="col-lg-6">
							<p class="pretitle">{{ bs.short_desc }}</p>
							<h3>{{ bs.title }}</h3>
							<p>
								{{ bs.description|safe }}
							</p>
							<a href="#" class="button-link-1 pushtop-30 pull-right">GET A QUOTE</a>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<div class="widget-2 text-left pushtop-180 drag-this-up pos-r">
				<img src="/media/documents/2019/06/20/side1.png" class="drawing drawing-left pushtop-80" alt="drawing">
				<!-- 157x320 -->
				<img src="/media/documents/2019/06/20/side2.png" class="drawing drawing-right pushtop-300" alt="drawing">
				<!-- 105x380 -->
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<p class="pretitle">{{ bs.short_desc }}</p>
							<h3>{{ bs.title }}</h3>
							<p>
								{{ bs.description|safe }}
							</p>
							<a href="#" class="button-link-1 pushtop-30">GET A QUOTE</a>
						</div>
						<div class="col-lg-6">
							<img src="/media/{{ bs.image }}" alt="widget-image"> <!-- 727x668 -->
						</div>
					</div>
				</div>
			</div>
		{% endif %}	
	{% endfor %}


	<div class="widget-19 light-background pushtop-130">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6 pushtop-70">
					<section>
						<img src="/media/documents/2019/06/20/bizf1.png" alt="widget image"> <!-- 76x76 -->
						<h6>Dashboard Features</h6>
						<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolor erat.
						</p>
					</section>
				</div>
				<div class="col-md-4 col-sm-6 pushtop-70">
					<section>
						<img src="/media/documents/2019/06/20/bizf2.png" alt="widget image"> <!-- 76x76 -->
						<h6>Userfriendly Experience</h6>
						<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.
						</p>
					</section>
				</div>
				<div class="col-md-4 col-sm-6 pushtop-70">
					<section>
						<img src="/media/documents/2019/06/20/bizf3.png" alt="widget image"> <!-- 76x76 -->
						<h6>Color Schemes</h6>
						<p>Lorem ipsum dolor sit amet, consetetur sadipsc-ing elitr, sed diam nonumy eirmod tempor.</p>
					</section>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}