{% extends 'new/baseHTML.html' %}
{% load static %}

{% block header %}
<title>Blog post</title>
{% endblock %}
{% block menuEnd %}
<div class="header-content fullheight">
	<div class="page-header text-center">
		<h2>Блог мэдээ</h2>
		<p>{{ newses.title }}</p>
	</div>
</div>
{% endblock %}
{% block mainContent %}
	<main>
		<div class="blog-listing">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<div class="blog-post">
							<div class="blog-post-slick">
								{% for image in images %}
								<img class="img-fluid" alt="Blog post" src="/media/{{ image.images }}">
								{% endfor %}
							</div>
							<div class="padded-blog-content">
								<ul class="social-links pull-right">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								</ul>
								<div class="post-meta">
									<span class="post-date">11/06/2018</span>
									|
									<span class="post-author">by Jonathan Doe</span>
								</div>
								<h5>{{ newses.title }}</h5>
								<p class="pushtop-30">
									{{ newses.description|safe }}  
								</p>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
