{% extends 'new/baseHTML.html' %}
{% load static %}

{% block header %}
<title>Блог</title>
{% endblock %}
{% block menuEnd %}
<div class="header-content fullheight">
	<div class="page-header text-center">
		<h2>Блог</h2>
		<p>Мэдээ, мэдээлэл </p>
	</div>
</div>
{% endblock %}
{% block mainContent %}
	<main>
		<div class="blog-listing">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<div class="blog-listing">
							{% for news in newses %}
							<div class="blog-post">
								<div class="blog-post-slick">
									<img class="img-fluid" alt="Blog post" src="/media/{{ news.image }}">	<!-- 870x380 -->
								</div>
								<div class="padded-blog-content">
									<ul class="social-links pull-right">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									</ul>
									<div class="post-meta">
										<span class="post-date">11/06/2018</span>
										|
										<span class="post-author">by Jonathan Doe</span>
									</div>
									<h5>{{ news.title }}</h5>
									<p>
										{{ news.short_desc }}   
									</p>
									<a href="{% url 'blog1' news.id %}" class="button-link-1">Read More</a>
								</div>
							</div>
							{% endfor %}
							<ul class="blog-pagination pushtop-80">
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- <div class="widget-12 text-center pushtop-70 alt-bg-2">
			<div class="container">
				<p class="pretitle">GET STARTED TODAY</p>
				<h3>We offer you a bunch of services</h3>
				<div class="row">
					<div class="col-lg-10 offset-lg-1">
						<p>
							Duis autem vel eum iriure dolor in hendrerit in vulputate velit 
							esse molestie consequat, vel illum dolore eu feugiat nulla facilisis 
							at vero eros et accumsan et iusto odio dignissim qui blandit praesent 
							luptatum zzril delenit augue duis dolore te feugait nulla facilisi. 
						</p>
					</div>
				</div>
				<div class="buttons pushtop-50">
					<a href="#" class="button-link-1">GET STARTED <i class="fa fa-caret-right"></i></a>
					<a href="#" class="button-link-1">LOGIN NOW</a>
				</div>
			</div>
		</div> -->
	</main>

	{% endblock %}
