{% extends 'new/baseHTML.html' %}
{% load static %}

{% block header %}
<title>Холбоо барих</title>
{% endblock %}
{% block menuEnd %}
<div class="header-content fullheight">
	<div class="page-header text-center">
		<h2>Бидэнтэй холбогдох</h2>
		<!-- <p>Vulputate velit esse mugiat nuesent lupt te fegait nulla facilisi. </p> -->
	</div>
</div>
{% endblock %}
{% block mainContent %}
	<main>
		<form method="POST">
		{% csrf_token %}
		<div class="container">
			<div class="widget contact-widget clearfix">							
				<!-- <p class="pretitle text-center">{{ contact.short_desc }}</p> -->
				<h3 class="text-center">{{ contact.title }}</h3>
				<div class="row pushtop-80">
					<div class="col-md-3">
						<label class="required-input">Нэр</label>
						<div class="input-container">
							<input type="text" name="name" placeholder="таны нэр" required/>
							<div class="input-bottom-line"></div>
						</div>
					</div>
					<div class="col-md-3">
						<label class="required-input">И-МАЙЛ ХАЯГ</label>
						<div class="input-container">
							<input type="email" name="email" placeholder="email@mail.com" required/>
							<div class="input-bottom-line"></div>
						</div>
					</div>
					<div class="col-md-3">
						<label>УТАСНЫ ДУГААР</label>
						<div class="input-container">
							<input type="text" name="mobile" placeholder="+976 xxxx-xxxx" required/>
							<div class="input-bottom-line"></div>
						</div>
					</div>
					<div class="col-md-3">
						<label class="required-input">АГУУЛГА</label>
						<div class="input-container">
							<input type="text" name="title" placeholder="агуулга" required/>
							<div class="input-bottom-line"></div>
						</div>
					</div>
				</div>
				<label class="required-input">МЕССЕЖ</label>
				<div class="input-container">
					<textarea placeholder="зурвас бичнэ үү" name="message"></textarea>
					<div class="input-bottom-line"></div>
				</div>
				<input type="submit" value="ИЛГЭЭХ" name="хүсэлт_илгээх" class="button-link-1 pull-right">
			</div>	
		</div>
		</form>
	</main>

	{% endblock %}