{% extends 'new/baseHTML.html' %}
{% load static %}


{% block header %}
<title>Pitch Day</title>
{% endblock %}
{% block menuEnd %}
<div class="header-content fullheight">
	<div class="page-header text-center">
		<h2>Pitch Day</h2>
		<p>Харьцангуй давуу тал бүхий шийдлээр асуудлыг шийдвэрлэж буй гарааны бизнес, гарааны бизнес санааг сонгон
			шалгаруулж Сократус Step-Up хөтөлбөрт элсүүлэх замаар бизнесийн системийг хамтран бүтээж үр шим хүртэнэ.
		</p>
	</div>
</div>
{% endblock %}
{% block mainContent %}
<main>
	<div class="widget-17">
		<div class="container text-center">
			<div class="row pushtop-50">
				{% for bs in business_sector %}
				<div class="col-md-4 col-sm-6">
					<section>
						<div class="image-holder">
							<img src="/media/{{ bs.image }}" alt="widget-image">
						</div>
						<h6>{{ bs.title }}</h6>
						<p>
							{{ bs.description|safe }}
						</p>
					</section>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>


	<div class="widget-2 text-right expanded pushtop-300">
		<div class="container drag-this-up">
			<img src="/media/documents/2019/06/20/pitch_zarchim.png" alt="widget-image">
			<div class="row">
				<div class="col-lg-6 offset-lg-6">
					<p class="pretitle">OUR SERVICES</p>
					<h3>Баримтлах зарчим:</h3>
					<p>Pitch Day сонгон шалгаруулалтанд оролцохдоо Сократус Студио ХХК-аас бэлдэж өгсөн загвар дээр
						тухайн тодорхойлсон асуулгын хүрээнд бизнес санаагаа танилцуулна. Бизнес санаагаа танилцуулах
						агуулгын хүрээнд асууж буй асуулт бүрийн хариулт нь таны дүгнэлт гэдгийг хатуу анхаарч
						хариулахдаа дараах зарчмыг баримтлана уу. Өөрөөр хэлбэл дүгнэлт нь бодит мэдээлэл, нотолгоо нь
						дээр суурилсан хатуу логик аргачлалаар боловсруулагдаж гарна.</p>
					<ul>
						<li><strong>Мэдээлэл цуглуулах:</strong> Тухайн асуулгын хүрээнд мэдээлэл цуглуулсан байх.
							Аливаа зүйлийг танин мэдэхийн тулд хамгийн эхэнд хийгдэх ажил бол мэдээлэл цуглуулах юм.
							Мэдээллийн эх сурвалж болон эх сурвалжийн баталгаатай байдлыг нягтлан шалгасан байх зэрэг
							орно.</li>
						<li><strong>Боловсруулах:</strong> Цуглуулсан мэдээллийн хоорондын хамаарлыг тогтоох, ангилж
							ялгах. Янз бүрийн дүрслэх аргуудыг ашигласан байвал давуу тал болно. Сонгон шалгаруулалтын
							хорооны гишүүд </li>
						<ol>
							<li>Хурдан</li>
							<li>Оновчтой</li>
							<li>Илэрхийлэл нь тодорхой байдлыг хүснэ.</li>
						</ol>

						<li><strong>Дүгнэлт:</strong> Асуулга бүрийн хувьд та дүгнэлт гаргасан байх хэрэгтэй.</li>
					</ul>
					<p>Төслийн танилцуулгын үед асуудлаас гажих, нурших, төөрөгдөлд оруулах, төсөлтэй хамаагүй түүх
						хүүрнэх зэргээр өөрт ноогдсон цагаа үр ашиггүй ашиглахгүй байх.</p>
					<a href="#" class="button-link-1 alt-bg pushtop-30 pull-right">LEARN MORE</a>
				</div>
			</div>
		</div>
	</div>

	<div class="widget-11 pushtop-100">
		<div class="container-fluid text-center">
			<p class="pretitle">WHAT WE DO</p>
			<h3>Check our features</h3>
			<div class="row pushtop-70">
				<div class="col-lg-4 text-right">
					<div class="widget-11-elm clearfix drag-this-left">
						<img src="https://via.placeholder.com/76x76" class="pull-right" alt="widget-img">
						<section>
							<h6><a href="#">Мэдээлэл цуглуулахад анхаарах зүйл</a></h6>
							<p>
								Мэдээлэл нь баталгаатай эх сурвалжаас авсан мэдээлэл байх. Баталгаа эх сурвалж гэдэг
								шинжлэх ухааны өгүүлэл нийтлэл, нэр хүнд бүхий судалгааны байгууллагын боловсруулсан
								судалгааны тайлан байна.
							</p>
						</section>
					</div>
					<div class="widget-11-elm clearfix drag-this-left">
						<img src="https://via.placeholder.com/76x76" class="pull-right" alt="widget-img">
						<section>
							<h6><a href="#">Боловсруулалт хийхэд анхаарах зүйл</a></h6>
							<p>
								Та боловсруулалт хийхдээ цуглуулсан мэдээллийнхээ хүрээнд мэдээллээ ангилж, хоорондын
								уялдаа холбоог нарийн гаргаж, логик аргуудыг ашигласнаар таны дүгнэлтэд сонгон
								шалгаруулах хорооны гишүүд итгэл үнэмшлийг төрүүлдэг болохыг анхаарна уу
							</p>
						</section>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="img-container drag-this-up">
						<img src="https://via.placeholder.com/534x439" alt="widget-img" class="img-fluid">
					</div>
				</div>
				<div class="col-lg-4 text-left">
					<div class="widget-11-elm clearfix drag-this-right">
						<img src="https://via.placeholder.com/76x76" class="pull-left" alt="widget-img">
						<section>
							<h6><a href="#">Дүгнэлт гаргахад анхаарах зүйлс</a></h6>
							<p>
								Дүгнэлт нь асуулгаасаа хазаагаагүй, тухайн асуулгынхаа хүрээнд дүгнэсэн байх.
							</p>
						</section>
					</div>
					<div class="widget-11-elm clearfix drag-this-right">
						<img src="https://via.placeholder.com/76x76" class="pull-left" alt="widget-img">
						<section>
							<h6><a href="#">Дүгнэлт гаргахад анхаарах зүйлс</a></h6>
							<p>
								Дүгнэлтийг цуглуулсан мэдээллээс гадуурх, мэдээллийн жагсаалтанд тусгаагүй мэдээлэл дээр
								үндэслэн дүгнэсэн байх нь төөрөгдөл үүсгэнэ.
							</p>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}