{% load static %}


<footer>

	<div class="footer-main">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-6">
					<a href="{% url 'index1' %}" class="footer-logo">
						<img src="/media/documents/2019/06/20/flogo.png" alt="logo">
						<!--145x68-->
					</a>
				</div>
				<div class="col-lg-2 col-md-6">
					<h6>Компани</h6>
					<ul>
						<li><a href="{% url 'about1' %}" class="link-hover">Бидний тухай</a></li>
						<li><a href="{% url 'about2' %}" class="link-hover">Манай хамт олон</a></li>
						<li><a href="{% url 'contact' %}" class="link-hover">Холбоо барих</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6">
					<h6>Нөөц</h6>
					<ul>
						<!-- <li><a href="#" class="link-hover">Хэрэгцээт линк</a></li> -->
						<li><a href="{% url 'blog' %}" class="link-hover">Блог</a></li>
						<li><a href="https://soundcloud.com/user-582135380" class="link-hover">Подкаст</a></li>
						<li><a href="#" class="link-hover">FAQ</a></li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-6">
					<h6>Холбоо барих</h6>
					<ul class="contact footer-contact">
						<li><a href="#">
								<div style="display:flex;">
									<i class="fa fa-map-marker"></i>
									<p style="text-align: justify-content;"><a
											href="https://www.google.com/maps/@47.916561,106.8917249,20.08z">207 тоот,
											Колорадо бизнес төв, Амарсанаагийн
											гудамж
											12/1, Баянгол дүүрэг, 16-р хороо, Улаанбаатар хот, Монгол улс</a></p>
								</div>
							</a>
						<li><a href="tel:+976-70114858"><i class="fa fa-phone"></i>+976-70114858</a>
						<li><a href="mailto:info@socratus.mn"><span>@</span>info@socratus.mn</a>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="container">
			<p class="copyright-text">Copyright 2019 &copy; Socratus LLC | All Rights Reserved</p>
		</div>
	</div>

</footer>

<script src="{% static 'assets/lib/jquery/jquery.js' %}"></script>
<script src="{% static 'assets/lib/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/lib/slick/slick.min.js' %}"></script>
<script src="{% static 'assets/lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/lib/visible/visible.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>