<!-- <div id="page-loader"> -->
<!-- <i class="fa fa-cog fa-spin grad-text grad-2"></i> -->
<!-- </div> -->

{% block CSS %}
{% load static %}
{% load i18n %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="{% static 'assets/lib/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/lib/slick/slick.css' %}">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700%7CWork+Sans:400,500,600,700%7CPlayfair+Display:400,700">
<link rel="stylesheet" href="{% static 'assets/lib/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
{% endblock %}
{% block headerMenu %}
<nav class="side-menu-container" id="mobile-menu">
	<ul class="mx-auto top-level clearfix">
		<li class="with-submenu">
			<a href="{% url 'index1' %}">Нүүр хуудас</a>
		</li>
		<li class="with-submenu">
			<a href="{% url 'about1' %}">Бидний тухай<span class="arrow"></span></a>
			<ul class="mobile-submenu simple-menu">
				<li><a href="{% url 'about3' %}">Үзэл баримтлал</a></li>
				<li><a href="{% url 'about2' %}">Баг хамт олон</a></li>
			</ul>
		</li>
		<li class="with-submenu">
			<a href="{% url 'boij' %}">Портфолио</a>
		</li>
		<li class="with-submenu">
			<a href="#" class="link-hover">Бойжуулах Хөтөлбөр<span class="arrow"></span></a>
			<ul class="mobile-submenu simple-menu">
				<li><a href="{% url 'biz' %}">bizStep-Up</a></li>
				<li><a href="{% url 'istep' %}">iStep-Up</a></li>
				<li><a href="{% url 'pitchDay' %}">Pitch Day</a></li>
			</ul>
		</li>
		<li class="with-submenu">
			<a href="{% url 'blog' %}">Блог</a>
		</li>
		<li>
			<a href="{% url 'contact' %}">Холбоо барих</a>
		</li>
	</ul>
</nav>
<div class="pos-r">
	<div id="topbar" class="clearfix">

		<div class="top-util pull-right">
			<!-- <div class="lang-selection">
				<a href="#"><img src="/media/documents/2019/06/20/england.png" alt="en">EN</a>
				<ul class="lang">
					<li><a href="#"><img src="/media/documents/2019/06/20/mgl.png" alt="mng">MGL</a></li>
				</ul>
			</div> -->
			<div class="search">
				<a href="#" class="search"><i class="fa fa-search zmdi-lg"></i></a>
				<div class="search-something">
					<input type="search" placeholder="сайтаас хайх">
					<a href="#"><i class="fa fa-search zmdi-lg"></i></a>
				</div>
			</div>
			<div class="side-menu">
				<a href="#" class="side-menu-button"><span></span><span></span><span></span></a>
			</div>
		</div>

		<div class="logo pull-left">
			<a href="{% url 'index1' %}">
				<img id="header_logo" src="/media/documents/2019/06/20/socratus_white.png" alt="logo">
			</a>
		</div>
		<nav id="desktop-menu">
			<ul class="mx-auto top-level clearfix">
				<li class="with-submenu">
					<a href="{% url 'index1' %}" class="link-hover">{% trans 'Нүүр хуудас' %}</a>
				</li>
				<li class="with-submenu">
					<a href="{% url 'about1' %}" class="link-hover">{% trans 'Бидний тухай' %}</a>
					<ul class="submenu simple-menu">
						<li><a href="{% url 'about3' %}">{% trans 'Үзэл баримтлал' %}</a></li>
						<li><a href="{% url 'about2' %}">{% trans 'Баг хамт олон' %}</a></li>
					</ul>
				</li>
				<li class="with-submenu">
					<a href="{% url 'boij' %}" class="link-hover">{% trans 'Портфолио' %}</a>
				</li>
				<li class="with-submenu">
					<a href="#" class="link-hover">{% trans 'Бойжуулах Хөтөлбөр' %}</a>
					<ul class="submenu simple-menu">
						<li><a href="{% url 'biz' %}">Biz-StepUp</a></li>
						<li><a href="{% url 'istep' %}">i-StepUp</a></li>
						<li><a href="{% url 'pitchDay' %}">{% trans 'Pitch Day' %}</a></li>
					</ul>
				</li>
				<li class="with-submenu">
					<a href="{% url 'blog' %}" class="link-hover">{% trans 'Блог' %}</a>
				</li>
				<li>
					<a class="link-hover" href="{% url 'contact' %}">{% trans 'Холбоо барих' %}</a>
				</li>
			</ul>

		</nav>
	</div>
</div>
{% endblock %}