{% extends 'new/baseHTML.html' %}
{% load static %}
{% load socratus_tag %}

{% block header %}
<title>I-StepUp</title>
{% endblock %}
{% block menuEnd %}
<div class="header-content fullheight">
	<div class="page-header text-center">
		<h2>I-StepUp үйлчилгээ</h2>
		<p>Vulputate velit esse mugiat nuesent lupt te fegait nulla facilisi. </p>
	</div>
</div>
{% endblock %}
{% block mainContent %}

<main>
	<div class="widget-14 pushtop-100">
		<div class="container text-center">
			<p class="pretitle">WORKFLOW AND PROGRESS</p>
			<h3>Steps that increase your productivity</h3>
			<div class="row pushtop-50">
				{% for features in ontslog %}
				<div class="col-md-4 pushtop-50">
					<div class="img-holder text-center">
						<img src="/media/{{ features.image }}" alt="widget-image"> <!-- 147x150 -->
					</div>
					<h6>{{ features.title }}</h6>
					<p>
						{{ features.description|safe }}
					</p>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>


	{% for ist in i_contents %}
	{% if forloop.counter|alignment %}
	<div class="widget-2 text-right pushtop-100">
		<div class="container drag-this-up">
			<div class="row">
				<div class="col-lg-6">
					<img src="/media/{{ ist.image }}" alt="widget-image" class="pull-right"> <!-- 912x912 -->
				</div>
				<div class="col-lg-6 pushtop-180">
					<p class="pretitle">{{ ist.short_desc }}</p>
					<h3>{{ ist.title }}</h3>
					<p>
						{{ ist.description|safe }}
					</p>
					<a href="#" class="button-link-1 alt-bg pushtop-30 pull-right">LEARN MORE</a>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<div class="widget-2 text-left pushtop-180">
		<div class="container drag-this-up">
			<div class="row">
				<div class="col-lg-6 pushtop-180">
					<p class="pretitle">{{ ist.short_desc }}</p>
					<h3>{{ ist.title }}</h3>
					<p>
						{{ ist.description|safe }}
					</p>
					<a href="#" class="button-link-1 alt-bg pushtop-30">LEARN MORE</a>
				</div>
				<div class="col-lg-6">
					<img src="/media/{{ ist.image }}" alt="widget-image" class="pull-left"> <!-- 902x873 -->
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	{% endfor %}

	<!-- <div class="widget-16 pushtop-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 pushtop-50">
					<p class="pretitle">TESTIMONIALS</p>
					<h3>What our clients say</h3>
					<a href="#" class="button-link-1 pushtop-80">BECOME A PARTNER</a>
				</div>
				<div class="col-lg-7">
					<div class="slick-testimonials-carousel pulltop-50">
						<div class="testimonial">
							<div class="quotes">“</div>
							<p>
								“Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
								suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem
								vel eum iriure dolor in hendrerit in vulputate velit esse molestie
								consequat, vel illum dolore eu feugiat nulla facilisis”
							</p>
							<div class="testimonial-info pushtop-30">
								<img src="https://via.placeholder.com/65x65" alt="testimonial" class="pull-left avatar">
								<a href="#" class="name link-hover">Diana Moore</a>
								<ul class="person-social pushtop-10">
									<li>
										<a href="#"><i class="fa fa-facebook-f"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-dribbble"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-twitter"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="testimonial">
							<div class="quotes">“</div>
							<p>
								“Vel eum iriure dolor in hendrerit in vulputate velit esse molestie
								suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem
								Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
								consequat, vel illum dolore eu feugiat nulla facilisis”
							</p>
							<div class="testimonial-info pushtop-30">
								<img src="https://via.placeholder.com/65x65" alt="testimonial" class="pull-left avatar">
								<a href="#" class="name link-hover">Alexandra Jones</a>
								<ul class="person-social pushtop-10">
									<li>
										<a href="#"><i class="fa fa-facebook-f"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-dribbble"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-twitter"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="testimonial">
							<div class="quotes">“</div>
							<p>
								“Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
								suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem
								vel eum iriure dolor in hendrerit in vulputate velit esse molestie
								consequat, vel illum dolore eu feugiat nulla facilisis”
							</p>
							<div class="testimonial-info pushtop-30">
								<img src="https://via.placeholder.com/65x65" alt="testimonial" class="pull-left avatar">
								<a href="#" class="name link-hover">Megan Novalum</a>
								<ul class="person-social pushtop-10">
									<li>
										<a href="#"><i class="fa fa-facebook-f"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-dribbble"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-twitter"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="testimonial">
							<div class="quotes">“</div>
							<p>
								“Vel eum iriure dolor in hendrerit in vulputate velit esse molestie
								suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem
								Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
								consequat, vel illum dolore eu feugiat nulla facilisis”
							</p>
							<div class="testimonial-info pushtop-30">
								<img src="https://via.placeholder.com/65x65" alt="testimonial" class="pull-left avatar">
								<a href="#" class="name link-hover">John Alliston</a>
								<ul class="person-social pushtop-10">
									<li>
										<a href="#"><i class="fa fa-facebook-f"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-dribbble"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-twitter"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</main>

{% endblock %}