{% extends 'new/baseHTML.html' %}
{% load static %}
{% load socratus_tag %}

{% block header %}
    <title>Нүүр хуудас</title>
{% endblock %}
{% block menuEnd %}
    <div class="header-content fullheight">
        <div class="slick-header fullheight">
            {% for hs in home_slide %}
                <div class="header-slide slide-1">
                    <img src="/media/{{ hs.image }}" alt="Slider Background" class="slider-background">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7">
                                <h2>{{ hs.title|safe }}</h2>
                            </div>
                            <div class="col-lg-6">
                                <p>{{ hs.description }}</p>
                            </div>
                        </div>
                        <a href="{{ hs.link }}"
                           class="button-link-1 {{ hs.style }} pushtop-30">{{ hs.buttonRegister }}<i
                                class="fa fa-caret-right"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block mainContent %}

    <main>
        <div class="widget-1 text-center ">
            <div class="container">
                <div class="row">
                    {% for fs in features %}
                        <div class="col-md-4 drag-this-left pushtop-30">
                            <section>
                                <div class="image-holder">
                                    <img src="/media/{{ fs.image }}" alt="widget-image">
                                </div>
                                <h6>{{ fs.title }}</h6>
                                <p>{{ fs.description|safe }}</p>
                            </section>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>



        {% for ms in mservices %}
            {% if forloop.counter|alignment %}
                <div class="widget-2 text-right pushtop-180 drag-this-up">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="/media/documents/2019/06/20/service1.png" alt="widget-image"
                                     class="pull-right">
                            </div>
                            <div class="col-lg-6">
                                <p class="pretitle">{{ ms.short_desc }}</p>
                                <h3>{{ ms.title|safe }}</h3>
                                <p>{{ ms.description|safe }}</p>
                                <a href="{{ ms.link }}"
                                   class="button-link-1 pushtop-30 pull-right">{{ ms.buttonRegister }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="widget-2 text-left pushtop-180 drag-this-up">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="pretitle">{{ ms.short_desc }}</p>
                                <h3>{{ ms.title|safe }}</h3>
                                <p>
                                    {{ ms.description|safe }}
                                </p>
                                <a href="{{ ms.link }}" class="button-link-1 pushtop-30">{{ ms.buttonRegister }}</a>
                            </div>
                            <div class="col-lg-6">
                                <img src="/media/{{ ms.image }}" alt="widget-image">
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="widget-3 pushtop-220 drag-this-up">
            <div class="container-fluid">
                <p class="pretitle text-center">CASE STUDIES</p>
                <h3 class="text-center">Our Portfolio</h3>
                <div class="portfolio-widget-tabs clearfix text-center">
                    <ul class="clearfix pushtop-60">
                        <li><a data-filter=".default" href="#" class="active link-hover">Бүгд</a></li>
                        {% for porf in boijigch %}
                            <li><a data-filter=".{{ porf.grow_id }}" href="#" class="link-hover">{{ porf.bd }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="portfolio-widget-tab-content" class="row pushtop-50">
                    {% for porf in boijigch %}
                        <div class="col-lg-3 col-sm-6 default {{ porf.grow_id }}">
                            <a href="{% url 'boijigch' porf.id %}" class="portfolio-item">
                                <img src="/media/{{ porf.image }}" alt="blog">
                                <div class="inner-wrapper">
                                    <div class="plus-sign"><span>+</span></div>
                                    <h6>{{ porf.title }}</h6>
                                    <p>{{ porf.bd }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <a href="{% url 'boij' %}" class="button-link-1 mx-auto">LOAD MORE</a>
            </div>
        </div>

        <div class="widget-22 no-bg pushtop-100">
            <div class="container">
                <div class="row gauges text-center">
                            <div class="col-sm-6 col-lg-4">
                                <div class="gauge-container mx-auto" data-total="{{ sums }}" data-current="{{ sums }}"></div>
                                <span class="gauge-display-data"></span>
                                <p>Бойжигч компаниудад хөрөнгө оруулсан нийт үнийн дүн /сая төгрөгөөр/</p>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="gauge-container mx-auto" data-total="{{ len_drows }}" data-current="{{ len_drows }}"></div>
                                <span class="gauge-display-data"></span>
                                <p>Манай хөтөлбөрт хамрагдсан гарааны бизнесийн тоо</p>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="gauge-container mx-auto" data-total="130" data-current="129"></div>
                                <span class="gauge-display-data"></span>
                                <p>Pitch day-д оролцсон харилцагчдын тоо</p>
                            </div>
                </div>
            </div>
        </div>

        <div class="widget-4 pushtop-130 drag-this-up">
            <div class="container">
                <div class="widget4-wrapper">
                    <p class="pretitle text-center">{{ process.short_desc }}</p>
                    <h3 class="text-center">{{ process.title }}</h3>
                    <p class="text-center">{{ process.description|safe }}</p>
                    <div class="widget-4-progress clearfix">
                        {% for algo in algorithm %}
                            {% if algo.publish == '1' %}
                                <div class="progress-item">
                                    <a href="#" class="progress-item"
                                       data-target="item-{{ forloop.counter }}">{{ forloop.counter }}</a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="widget-4-progress-detail">
                        {% for algo in algorithm %}
                            <div
                                    class="widget-4-progress-item item-{{ forloop.counter }} {% if forloop.counter == 1 %}active{% endif %}">
                                <div class="row">
                                    <div class="col-md-5">
                                        <h4>{{ algo.subtitle }}</h4>
                                    </div>
                                    <div class="col-md-7">
                                        <p>{{ algo.tailbar|safe }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>

        <div class="widget-10 pushtop-220">
            <div class="container">
                <p class="pretitle">БИДНИЙ</p>
                <h3>Менторууд</h3>
                <div class="slick-testimonials-carousel pushtop-50" data-sts="3">
                    {% for mentor in mentors %}
                        <div class="testimonial">
                            <div class="quotes">“</div>
                            <p>
                                {{ mentor.tailbar|safe }}
                            </p>
                            <div class="testimonial-info pushtop-30">
                                <img src="/media/{{ mentor.quotes_id.image }}" alt="testimonial"
                                     class="pull-left avatar" width="100" style="border-radius: 100px">
                                <a href="#" class="name link-hover">{{ mentor.quotes_id.name }}</a>
                                <ul class="person-social pushtop-10">
                                    <li>
                                        <a href="{{ mentor.quotes_id.facebook }}"><i class="fa fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="{{ mentor.quotes_id.linkedin }}"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="{{ mentor.quotes_id.twitter }}"><i class="fa fa-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="widget-7">
            <div class="rising-elements text-center">
                {% for elem in rising %}
                    <div class="rising-elm {% cycle 'elm-1' 'elm-2' 'elm-3' 'elm-4' %}"
                         data-trigger="{% cycle '400' '800' '600' '400' %}">
                        <div class="rising-inner">
                            <img src="/media/{{ elem.image }}" alt="element-image">
                            <h6>{{ elem.title }}</h6>
                            <p>{{ elem.short_desc }}</p>
                        </div>
                        <div class="img-pin"></div>
                    </div>
                {% endfor %}
            </div>

            <div class="widget-7-main text-center">
                <div class="container">
                    <p>{{ timeline.title }}</p>
                    <h3>{{ timeline.short_desc }}</h3>
                    <p class="mx-auto">
                        {{ timeline.description|safe }}
                    </p>
                </div>
                <div class="buttons pushtop-50">
                    <a href="#" class="button-link-1">GET STARTED <i class="fa fa-caret-right"></i></a>
                    <a href="#" class="button-link-1">LOGIN NOW</a>
                </div>
            </div>
        </div>

        <a href="#"></a>

        <div class="widget-6 light-background drag-this-up">
            <div class="container">
                <p class="pretitle text-center">RECENT BLOGPOSTS</p>
                <h3 class="text-center">БЛОГ</h3>
                <div class="row pushtop-50">
                    {% for news in newses %}
                        <div class="col-md-4 col-sm-6">
                            <div class="widget-blog-post pushtop-30">
                                <a href="#" class="tag"></a>
                                <br>
                                <a href="{% url 'blog' %}" class="post-title link-hover">
                                    {{ news.title }}
                                </a>
                                <img src="/media/{{ news.image }}" width="220">
                                <p>
                                    {{ news.short_desc }}
                                </p>
                                <hr>
                                <div class="post-meta">
                                    <!--img src="#" alt="avatar"-->
                                    <p>
                                        <a href="{% url 'blog1' news.id %}" class="link-hover">Дэлгэрэнгүй</a>
                                        {{ news.created_at|date:'Y-m-d' }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </main>
{% endblock %}