{% extends 'new/baseHTML.html' %}
{% load static %}

{% block header %}
<title>Портфолио</title>
{% endblock %}
{% block menuEnd %}
<div class="header-content fullheight">
	<div class="page-header text-center">
		<h2>Портфолио</h2>
		<p>Өсөлттэй гарааны бизнесүүд</p>
	</div>
</div>
{% endblock %}
{% block mainContent %}
<main>
    <div class="widget-3 pushtop-50 drag-this-up">
        <div class="container-fluid">
            <div class="portfolio-widget-tabs clearfix text-center">
                <ul class="clearfix pushtop-60">
                    <li><a data-filter=".default" href="#" class="active link-hover">Бүгд</a></li>
                    {% for porf in boijigch %}
                        <li><a data-filter=".{{ porf.grow_id }}" href="#" class="link-hover">{{ porf.bd }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div id="portfolio-widget-tab-content" class="row pushtop-50">
                {% for porf in boijigch %}
                    <div class="col-lg-3 col-sm-6 default {{ porf.grow_id }}">
                        <a href="{% url 'boijigch' porf.id %}" class="portfolio-item">
                            <img src="/media/{{ porf.image }}" alt="blog">
                            <div class="inner-wrapper">
                                <div class="plus-sign"><span>+</span></div>
                                <h6>{{ porf.title }}</h6>
                                <p>{{ porf.bd }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <a href="#" id="load-more" class="button-link-1 mx-auto">LOAD MORE</a>
        </div>
    </div>

</main>
{% endblock %}