{% extends 'new/baseHTML.html' %}
{% load static %}

{% block header %}
<title>Бойжигч</title>
{% endblock %}
{% block menuEnd %}
<div class="header-content fullheight">
	<div class="page-header text-center">
		<h2>{{ drow.header }}</h2>
		<p>{{ drow.short_desc }}</p>
	</div>
</div>
{% endblock %}
{% block mainContent %}

<main>
	<div class="container drag-up">
		<div class="blog-listing">
			<div class="blog-post portfolio-single">
				<div class="blog-post-slick">
					{% for photo in drow_slide %}
						<img class="img-fluid" alt="Incubator company" src="/media/{{ photo.image }}"> <!--1170x450-->
					{% endfor %}
				</div>
				<div class="padded-blog-content clearfix">
					<ul class="social-links pull-right">
						<li><a href="{{ drow.facebook }}"><i class="fa fa-facebook"></i></a></li>
						<li><a href="{{ drow.twitter }}"><i class="fa fa-twitter"></i></a></li>
						<li><a href="{{ drow.instagram }}"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
				<div class="row">
					<div class="col-lg-9"> 
						<div class="padded-blog-content">
							<h5>{{ drow.title }}</h5>
							<p>
								{{ drow.description|safe }}   
							</p>	
						</div>
						<div class="related-projects pushtop-100">
							<h3>Холбоотой төслүүд</h3>
							<div class="row small-gutters pushtop-30">
								{% for drow_s in drows %}
								{% if drow_s != drow %}
								<div class="col-md-6">
									<a href="{% url 'boijigch' drow_s.id %}" class="portfolio-item-alt">
										<img src="/media/{{ drow_s.image }}" alt="widget-image" class="img-fluid">
										<div class="inner-wrapper">
											<h6>{{ drow_s.title }}</h6>
											<p>{{ drow_s.bd }}</p>
										</div>
									</a>
								</div>
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<aside class="portfolio-single-aside pushtop-30">
							<h4>ТӨСЛИЙН ТОЙМ</h4>
							<ul class="details">
								<li><strong>Sector: </strong>{{ drow.bd }}</li> 
								<li><strong>Address: </strong>{{ drow.address }}</li>
								<li><strong>Contact: </strong>{{ drow.contact }}</li>
								<li><strong>Date: </strong>{{ drow.start_date|date:'Y-m-d' }}</li>
								<li><strong>Website: </strong>{{ drow.website }}</li>
							</ul>
						</aside>
					</div>
				</div>
			</div>	
		</div>
	</div>
</main>
{% endblock %}